body {
    font-family: Arial, sans-serif !important;
}

.flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.flexWrap {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.flex-1 {
    -prefix-box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.layout-outbox {
    height: 100vh;
}

.table-content-span-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.table-content-span-center {
    text-align: center;
}

.table-content-span-edit {
    margin-top: 5px;
    margin-left: 32px;
}

.layout-box {
    padding: 0 24px 24px;
    position: relative;
    min-width: 1200px
}

.layout-box-header {
    background: #fff;
    padding: 0 10px;
    text-align: left
}

.layout-box-breadcrumb {
    margin: 16px 0;
    text-align: left
}

.layout-box-content {
    background: rgb(255, 255, 255);
    padding: 24px;
    margin: 0px 0px 25px;
    flex: none
}

.layout-box {
    position: unset;
}

.table-content-span-ellipsis a {
    color: inherit;
}

#components-layout-demo-top-side-2 {
    height: 100vh;
}

.login-status-bar {
    display: inline;
    float: right;
}

.silde-title {
    margin: 16px;
    height: 32px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(145, 153, 161);
    padding-left: 10px;
}

.content-top-right {
    text-align: right;
    height: 32px;
    line-height: 32px;
}

.content-top-right .content-top-right-item {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    padding-left: 0;
}

.content-top-right .content-top-right-item:nth-last-child(0) {
    padding: 0;
}

.content-top-right .separator {
    width: 2px;
    height: 16px;
    position: absolute;
    top: 6px;
    right: 0;
    background: #ccc;
}

.drawer-box .drawer-box-content {
    display: inline-block;
    text-align: center;
    width: 33%;
}

.drawer-box .drawer-box-content a {
    height: 100%;
}

.table-content a.block {
    display: block;
}

.drawer-box .drawer-box-content img {
    width: 44px;
    height: 44px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.drawer-box .drawer-box-content img:hover {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}

.drawer-box .drawer-box-content p {
    margin-top: 5px;
    margin-bottom: 15px;
    color: #262626;
}

.table-content .selected-tr, .module-table-content .selected-tr, .label-manage-modal .selected-tr {
    background: #e6f7ff;
}

.table-content .table-content-img {
    width: 100px;
}

.screenshots-detail-title {
    font-weight: bold;
    font-size: 28px;
    font-style: italic;
    text-align: center;
    margin-bottom: 6px;
    color: #333;
}

.main-image {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}

.main-image img {
    width: 450px
}

.main-image .showLogo {
    position: absolute;
    top: 43px;
    left: 14px;
    width: 110px;
}

.main-image .toggle-logo {
    width: 100%
}

.main-image .toggle-logo2 {
    width: 70px;
}

.postBtn button {
    color: #fff;
    background: #262626;
    padding: 6px 13px;
    border: 1px solid #262626;
    position: fixed;
    right: 0;
    top: 80px;
}

.company-img {
    width: 344px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 8px;
    position: relative;
}

.company-img-mask {
    width: 100%;
}

.company-img-content {
    width: 324px;
    position: absolute;
    top: 13px;
    left: 10px;
    min-height: 224px;
    z-index: -1;
}

.change-number-btn {
    text-align: center;
}

.change-number-btn a {
    color: inherit;
}

.siteLink a {
    color: inherit;
}

.ant-popover {
    min-width: 170px;
}

.table-content .order-price, .drawer-content .order-price {
    color: #fc6821;
}

.drawer-content .order-comment {
    border: 1px solid #e8e8e8;
    resize: none;
    border-radius: 2px;
    width: 560px;
    margin-top: 15px;
}


.table-content .UN_PAY {
    color: #c02828;
}

.table-content .PAID {
    color: #4D7321;
}

.drawer-scroll {
    max-height: calc(100vh - 140px);
    overflow: auto;
}

.img-select-box {
    justify-content: space-between;
    margin: 12px 8px;
    width: 116px;
    height: 116px;
    background: #e5e5e5;
    position: relative;
}

.img-select-box img {
    width: 116px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 116px;
}

.img-select-name {
    position: absolute;
    bottom: -22px;
    text-align: center;
    margin-bottom: 0;
    left: 0;
    right: 0;
}

.img-select-mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

.img-select-mask-a {
    position: absolute;
    right: 4px;
    top: 4px;
    color: #d5d5d5;
}

.img-select-mask .img-select-mask-a:nth-child(1) {
    right: 22px
}

.img-upload-modal .ant-modal-body {
    text-align: center;
}

.modal-box {
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px dashed #d9d9d9;
    display: table-cell;
    padding: 8px;
}

.modal-box i {
    font-size: 32px;
    color: #999;
    margin-top: 10px;
}

.modal-box .ant-upload-text {
    margin-top: 8px;
    color: #666;
}

.check-select-box-p-error {
    color: red;
    font-size: 15px;
}

.check-select-box-p-title {
    margin: 8px 0;
    font-size: 18px;
}

.module-table-content {
    margin-top: 20px;
}

.module-table-content .ant-table {
    height: calc(100vh - 495px);
    overflow-y: auto;
}

.treeClass {
    height: calc(100vh - 435px);
    overflow-y: auto;
    margin-top: 20px;
    position: relative;
}

.label-manage-modal .ant-modal {
    width: 800px !important;
    min-width: 800px;
}

.label-manage-modal .ant-table {
    margin-top: 20px;
    height: calc(100vh - 630px);
    overflow-y: auto;
}

.tagModal .ant-modal {
    margin-top: 130px
}

.label-manage-modal .ant-table-placeholder {
    border-bottom: none;
}

.tools-select-box {
    margin-top: 8px;
}

.tools-select-box .textarea {
    width: 100%;
    height: 160px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px;
    overflow-y: auto;
    word-wrap: break-word;
    line-height: 1.5;
    word-break: keep-all;
}